# http://editorconfig.org

root = true

[*]
# end_of_line = lf
indent_style = space


# javascript and typescript files
[*.{ts,tsx,js,jsx}]
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# C# and VB code files
[*.{cs,csx,vb,vbx}]
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8-bom

[*.md]
insert_final_newline = false
trim_trailing_whitespace = false

# Solution Files
[*.sln]
indent_style = tab

# XML Project Files
[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj}]
indent_size = 2

# Configuration Files
[*.{json,xml,yml,config,props,targets,nuspec,resx,ruleset,vsixmanifest,vsct}]
indent_size = 2
